<ngb-tabset>
  <ngb-tab title="Search">
    <ng-template ngbTabContent>
      <label for="typeahead-basic">Search for an abbreviation definition:</label>
      <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
      <p class="lead" *ngIf="loading">
        <img src="../../assets/source.gif" class="spinner">
      </p>
      <hr>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<div *ngIf="model && loading == false">
  mamy dane!
  <pre>Model: {{ model | json }}</pre>
</div>
